<a href="https://colab.research.google.com/github/bhalperin04/Bennett---BTE-320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
radius = int(input("Provide radius: "))
height = int(input("Provide height: "))
pi = 3.14
print("Area of Cylinder: ", (radius**2)*height*pi)

In [ ]:
pi=3.14
radius=float(input('Enter radius: '))
height=float(input('Enter height: '))

area = (2 * pi * (radius**2)) + (2*pi*radius*height)

print(f'Area of cylinder: {area} sq. ft')

In [ ]:
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
op = input('Enter operator: ')

if op == '+':
  res = n1 + n2
elif op == '-':
  res = n1 - n2
elif op == '*':
  res = n1 * n2
elif op == '/':
  res = n1 / n2
elif op == '//':
  res = n1 // n2
elif op == '**':
  res = n1 ** n2
elif op == '%':
  res = n1 % n2
else:
  res = 'Invalid operator'

print(res)

Enter first number: 2
Enter second number: 2
Enter operator: +
4.0

In [ ]:
for time in range(1,9):
  fee = 5 + 2.5 * time
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(time, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
print('Ad$\t', 'Profit')
for admoney in range(0,201,25):
  revenue = round(20 + 2 * (admoney**.5))*10
  costs = 200 + admoney
  profit = (revenue- costs)
  print(admoney, '\t', profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 95
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
import random

play = input('Do you want to play the game (Yes/No): ').capitalize()

while play == 'Yes':
  p1 = input('Player 1 - Choose between Rock/Paper/Scissors: ').capitalize()
  p2 = random.choice(['Rock', 'Paper', 'Scissors']).capitalize()

  print(f'Player chose {p1}; Computer chose {p2}')

  if p1 == p2:
    print('Draw')
  elif ((p1 == 'Rock' and p2 == 'Scissors') or
        (p1 == 'Scissors' and p2 == 'Paper') or
        (p1 == 'Paper' and p2 == 'Rock')):
    print('Player 1 wins')
  else:
    print('Player 2 wins')

  play = input('Do you want to play the game (yes/no): ').capitalize()
print('Good day...')

In [ ]:
L = []

while True:
  num = float(input('Give a number: '))
  if num == 0.0:
    break
  L.append(num)
L.sort(reverse=True)
L

In [ ]:
months= {}

names= ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num]=names[num-1]
months

{1: 'jan',
 2: 'feb',
 3: 'mar',
 4: 'apr',
 5: 'may',
 6: 'jun',
 7: 'jul',
 8: 'aug',
 9: 'sep',
 10: 'oct',
 11: 'nov',
 12: 'dec'}

In [ ]:
counts={}

while len(counts)<5:
  key = input('given a string:')

  if key not in counts:
    counts[key]=1
  else:
    counts[key]+=1
print(counts)

In [5]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10.0:
      fee = 10.0
  elif fee > 20.0:
      fee = 20.0
  print(f'Fee: {fee}$')

def main():
  numHours = int(input('Enter number of hours: '))
  calcFee(numHours)

main()

Enter number of hours: 1
Fee: 10.0$